@font-face {
  font-family: 'CormoranGaramond';
  src: url('../fonts/CormorantGaramond-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CormorantGaramond-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/CormorantGaramond-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/CormorantGaramond-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/CormorantGaramond-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-display: fallback;
}
@font-face {
  font-family: 'Muli-Regular';
  src: url('../fonts/Muli-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Muli-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Muli-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Muli-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight:normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Muli-Bold';
  src: url('../fonts/Muli-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Muli-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Muli-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Muli-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: 'Parisienne-Regular';
  src: url('../fonts/Parisienne-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Parisienne-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Parisienne-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Parisienne-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Parisienne-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-display: fallback;
}
