.story{
  min-height:100vh;
  color: $primary-color;

  h2, h3{
    font-family: $header-font;
    font-weight:bold;
  }
  .scene-1{
    position: relative;
    .mobile{
      opacity: 0;
    }
  }
  .pattern{
    position: absolute;
    width:1px;
    height:100%;
    top:0;
    left: calc(50% - 1px);
    border-right: dashed 3px $primary-color;
  }

  .item-left--first{
    left:0;
    background:transparent url('../images/Bruce_Willis_1.jpg') no-repeat center;
    background-size:cover;
  }
  .item-right--first{
    left:0;
    background:transparent url('../images/cameron_diaz.jpg') no-repeat center;
    background-size:cover;
  }
  .item-left--second{
    left:0;
    background:transparent url('../images/INTRO_BradleyCooper.jpg') no-repeat center;
    background-size:cover;
  }
  .item-right--second{
    left:0;
    background:transparent url('../images/68712_annehathaway.jpg') no-repeat center;
    background-size:cover;
  }
  .item-left--third{
    right:0;
    background-color: rgba($primary-color, 0.4);
  }
  .item-right--third{
    right:0;
    background-color: rgba($primary-color, 0.4);
  }
  .item-left--match, .item-right--match{
    text-align: center;
    transform-origin: center;
    opacity: 0;
    p{
      margin-top:50px;
      font-family:$header-font;
      font-size:1.2rem;
      color:$white-color;
    }
  }
  .profile{
    width:60px;
    height:60px;
    border-radius: 30px;
    border:3px solid $white-color;
    position: absolute;
    top:120px;
  }
  .profile--left{
    left:30px;
  }
  .profile--right{
    right:30px;
  }
}
.scene-2{
  height:100vh;
  .pattern{
    z-index:3;
  }
}
.story-second{
  position: relative;
  height:100vh;
  background: $white-color;
  z-index: 2;
  .mobile-left, .mobile-right{
    .mobile{
      opacity:1;
    }
  }
  .item-left--first{
    left:0;
    background:transparent url('../images/margaretisland.png') no-repeat center;
    background-size:cover;
  }
  .item-right--first{
    left:0;
    background:transparent url('../images/margaretisland.png') no-repeat center;
    background-size:cover;
  }
  .item-left--second{
    left:0;
    background:transparent url('../images/wines.jpg') no-repeat center;
    background-size:cover;
  }
  .item-right--second{
    left:0;
    background:transparent url('../images/wines.jpg') no-repeat center;
    background-size:cover;
  }
  .item-left--third{
    background:transparent url('../images/burger.jpg') no-repeat center;
    background-size:cover;
  }
  .item-right--third{
    background:transparent url('../images/burger.jpg') no-repeat center;
    background-size:cover;
  }
}

