<header>
    <input type="checkbox" id="hamburger" name="hamburger" class="d-block d-md-none">
    <label for="hamburger" class="d-block d-md-none">
        <span></span><span></span><span></span>
    </label>
    <nav>
        <ul>
            <li>
                <a href="#hero" class="us">
                    N & M
                </a>
            </li>
            <li>
                <a href="#story">
                    Történetünk
                </a>
            </li>
            <li>
                <a href="#wedding">
                    Az Esküvő
                </a>
            </li>
        </ul>
    </nav>
</header>
