<header class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="../../assets/images/logo.svg" alt="Niki és Matyi">
            </div>
            <div class="col d-flex d-md-none align-items-center justify-content-end">
                <button class="mobile-btn">
                    <span></span><span></span><span></span>
                </button>
            </div>
            <div class="col-md-9 d-md-flex align-items-md-center justify-content-md-end menu">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Esemény</a></li>
                    <li class="list-inline-item"><a href="#">Történetünk</a></li>
                    <li class="list-inline-item"><a href="#">Esküvő</a></li>
                    <li class="list-inline-item"><a href="#">Galléria</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>
