$primary-color:        #1E009F;
$white-color:          #ffffff;
$black-color:          #000000;

$base-font:           'Base-font';
$bold-font:           'Bold-font';
$header-font:         'Header-font';

$base-font-size:      18px;
