$primary-color:        #1E009F;
$secondary-color:      #121F38;
$white-color:          #ffffff;
$black-color:          #000000;

$base-font:           'Muli-Regular', Arial, sans-serif;
$bold-font:           'Muli-Bold', Arial, sans-serif;
$header-font:         'CormoranGaramond', Arial, sans-serif;


/*
72
33
30
21
19 button
17
15
11
*/
